.header {
  width: 100%;
  position: fixed;
  border-bottom: 1px solid rgba(205, 205, 205, 0.4);
  box-sizing: border-box;
  top: 0px;
  padding: 0 1rem 0.2rem 1rem;
  align-items: center;
  display: flex;
  color: white;
  background:linear-gradient(45deg, #dd4814, #77216f, #5e2750, #2c001e);
  justify-content: space-between;
  font-family: monospace;
}

.headerMenu {
  list-style: none;
  margin: 0;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.headerMenu li a {
  display: block;
  text-decoration: none;
  padding: 3px 10px 5px 0;
  font-size: 16px;
  color: white;
}

.headerMenu li:hover {
  text-decoration: underline !important;
  transition-duration: 1000ms;
  color: white;
}

