
.container {
  height: 100vh;
  margin: 0px;
  font-family: monospace;
  background: linear-gradient(45deg, #dd4814, #77216f, #5e2750, #2c001e);
  color: white;
  border: 0;
  padding: 0 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 120%;
}

body {
  padding: 0;
  margin: 0;
}


#main {
  margin-top: 5%;
}
